.layout {
  font-family: 'Palanquin Dark', Arial, Helvetica, sans-serif, "Noto Sans TC";
  line-height: 1.2em;
  letter-spacing: 2px;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

.herderTitle {
  font-weight: bold;
  color: #3E7E55;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: 5px;
}

.herderNote {
  color: #808080;
  font-size: 0.5em;
}

.content {
  width: 100%;
  line-height: 1.2em;
  letter-spacing: 2px;
  font-size: 0.65em;
  color: #000000;
  font-weight: bold;
}

.divTd {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.pRightTitle {
  width: 110px;
  padding-right: 12px;
}

.addBtn {
  width: 100%;
  height: 2.3em;
  border-radius: 8px;
  color: #f0f0f0;
  background-color: #3E7E55;
}

.cancelTxt {
  padding-top: 8px;
  font-style: inherit;
  text-decoration: underline;
  cursor: pointer;
}
.cancelTxt:hover {
  text-decoration: none;
}

.passkeyIcon {
  width: 128px;
  height: 128px;
  background-image: url("../../../assets/icon/register.png");
  background-repeat: no-repeat;
}

.mat-mdc-form-field-error {
  font-size: 12px;
}
.field{
  width: 100%;
}
.titleLable{
  font-size: 12px;
  padding-bottom: 3px;
}
