<div class="layout">
  <div class="passkeyIcon"></div>
  <div class="herderTitle">
    <label>註冊帳號</label>
  </div>
  <div class="herderNote">
    <label>請先確認是否已擁有ADS權限</label>
  </div>

  <div class="content">
    <form [formGroup]="myForm">
      <table style="width: 100%;">
        <tr>
          <td>
            <div class="divTd">
              <mat-form-field class="field">
                <mat-label>員工編號</mat-label>
                <input matInput name="userId" formControlName="userId" placeholder="員工編號">
                <mat-error>此處為必填且只能填寫數字或英文</mat-error>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="divTd">
              <mat-form-field class="field">
                <mat-label>中文姓名</mat-label>
                <input matInput name="userName" formControlName="userName" placeholder="姓名">
                <mat-error>請輸入2-10字元</mat-error>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="divTd">
              <mat-form-field class="field">
                <mat-label>帳號</mat-label>
                <input matInput name="account" formControlName="account" placeholder="帳號">
                <mat-error>此處為必填且只能填寫數字或英文</mat-error>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="divTd">
              <mat-form-field class="field">
                <mat-label>密碼</mat-label>
                <div style="display: flex;align-content: space-between;">
                  <div>
                    <input matInput [type]="isShowPws ? 'text':'password'" name="password" formControlName="password" placeholder="密碼">
                  </div>
                  <div class="eyeIcon">
                    <span><mat-icon *ngIf="isShowPws" (click)="isShowPwsClick('p')">visibility</mat-icon></span>
                  </div>
                  <div class="eyeIcon">
                    <span><mat-icon *ngIf="!isShowPws" (click)="isShowPwsClick('p')">visibility_off</mat-icon></span>
                  </div>
                </div>
                <mat-error>請輸入6-20字元且包含數字與英文</mat-error>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="divTd">
              <mat-form-field class="field">
                <mat-label>確認密碼</mat-label>
                <div style="display: flex;">
                  <div>
                    <input matInput [type]="isShowChkPws ? 'text':'password'" id="chkPsw" formControlName="chkPsw" placeholder="確認密碼">
                  </div>
                  <div class="eyeIcon">
                    <span><mat-icon *ngIf="isShowChkPws" (click)="isShowPwsClick('ckp')">visibility</mat-icon></span>
                  </div>
                  <div class="eyeIcon">
                    <span><mat-icon *ngIf="!isShowChkPws" (click)="isShowPwsClick('ckp')">visibility_off</mat-icon></span>
                  </div>
                </div>
                <mat-error >與密碼不符</mat-error>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="divTd">
              <mat-form-field class="field">
                <mat-label>信箱</mat-label>
                <input matInput name="email" formControlName="email" placeholder="信箱 xxx@mail.com">
                <mat-error>請確認格式是否正確</mat-error>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="display: flex;flex-direction: column;align-items: center;">
              <button class="addBtn" mat-raised-button style="font-size: 18px;" (click)="onSaveCLick()">註冊</button>
              <div class="cancelTxt" (click)="onCancel()">取消</div>
            </div>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
