<div class="layout">
  <div class="passkeyIcon"></div>
  <div class="herderTitle">
    <label>註冊帳號</label>
  </div>
  <div class="herderNote">
    <label>請先確認是否已擁有ADS權限</label>
  </div>

  <div class="content">
    <form [formGroup]="myForm">
      <table style="width: 100%;">
        <tr>
          <td>
            <div class="divTd">
              <label class="titleLable">員工編號 :</label>
              <mat-form-field class="field" appearance="outline">
                <input matInput name="userId" formControlName="userId" placeholder="請輸入">
                <mat-error>此處為必填，不可特殊符號</mat-error>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="divTd">
              <label class="titleLable">帳號 :</label>
              <mat-form-field class="field" appearance="outline">
                <input matInput name="account" formControlName="account" placeholder="請輸入">
                <mat-error>此處為必填，不可特殊符號</mat-error>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="divTd">
              <label class="titleLable">密碼 :</label>
              <mat-form-field class="field" appearance="outline">
                <div style="display: flex;justify-content: space-between;">
                  <div class="input">
                    <input matInput [type]="isShowPws ? 'text':'password'" name="password" formControlName="password"
                      placeholder="請輸入">
                  </div>
                  <div *ngIf="isShowPws">
                    <mat-icon (click)="isShowPwsClick('p')">visibility</mat-icon>
                  </div>
                  <div *ngIf="!isShowPws">
                    <mat-icon (click)="isShowPwsClick('p')">visibility_off</mat-icon>
                  </div>
                </div>
                <mat-error>此處為必填，6-20位字元，不可特殊符號</mat-error>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="divTd">
              <label class="titleLable">確認密碼 :</label>
              <mat-form-field class="field" appearance="outline">
                <div style="display: flex;justify-content: space-between;">
                  <div>
                    <input matInput  [type]="isShowChkPws ? 'text':'password'" id="chkPsw" formControlName="chkPsw"
                      placeholder="請輸入">
                  </div>
                  <div *ngIf="isShowChkPws">
                    <mat-icon (click)="isShowPwsClick('ckp')">visibility</mat-icon>
                  </div>
                  <div *ngIf="!isShowChkPws">
                    <mat-icon (click)="isShowPwsClick('ckp')">visibility_off</mat-icon>
                  </div>
                </div>
                <mat-error>與密碼不符</mat-error>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="divTd">
              <label class="titleLable">姓名 :</label>
              <mat-form-field class="field" appearance="outline">
                <input matInput name="userName" formControlName="userName" placeholder="請輸入">
                <mat-error>此處為必填，2-10位字元，不可為特殊符號</mat-error>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="divTd">
              <label class="titleLable">信箱 :</label>
              <mat-form-field class="field" appearance="outline">
                <input matInput name="email" formControlName="email" placeholder="請輸入">
                <mat-error>請確認信箱格式是否正確</mat-error>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <br>
        <tr>
          <td>
            <div style="display: flex;flex-direction: column;align-items: center;">
              <button class="addBtn" mat-raised-button style="font-size: 18px;" (click)="onSaveCLick()">註冊</button>
              <div class="cancelTxt" (click)="onCancel()">取消</div>
            </div>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
