<mat-list style="display:flex;">
  <div style="width: 12vw;">
    <div class="logo">
      <div style="width: 100px;height: 100px;"></div>
    </div>
    <div style="margin-top: 20px;">
      <div>
        <button  mat-raised-button routerLink="./reportManage"  class="btnitemOut">範本管理</button>
      </div>
      <!-- <mat-div [matMenuTriggerFor]="afterMenu">
        <button  mat-raised-button   class="btnitemOut">報表設定</button>
      </mat-div>
      <mat-menu #afterMenu="matMenu">
        <button mat-menu-item routerLink="./reportManage" class="btnitemIn">範本管理</button>
      </mat-menu> -->
    </div>
    <div style="margin-top: 3px;">
      <div>
        <button  mat-raised-button routerLink="./clientManage"  class="btnitemOut">帳單管理</button>
      </div>
    </div>
  </div>
</mat-list>
