.divTr{
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.divTd{
  display: flex;
  align-items: baseline;
}
.divTd2{
  display: flex;
  align-items: baseline;
  padding-left: 15px;
}

.inputOut {
  margin-left: 10px;
  width: 100%;
}
.inputEdit {
  height: 32px;
  padding: 0px 12px;
  line-height: 1.43;
  color: #676767;
  background-color: #fafafa;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
@media screen and (max-width: 900px){
  .inputOut {
    width: 166px;
  }
  .divTr{
    flex-direction: column;
  }
  .divTd2{
    padding-left: 0;
  }
  .divLable{
    width: 90px;
  }
}
