<div class="contentLayout">
  <mat-card style="background-color: #EAEEE5;">
    <mat-card-header>
      <mat-card-title class="topTitle">範本管理</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
          <td >
            <label>帳戶活動名稱:</label>
          </td>
          <td>
            <input class="input" matInput>
          </td>
          <td>
            <label>報表範本名稱:</label>
          </td>
          <td>
            <input class="input" matInput>
          </td>
          <td>
            <label>目標廣告:</label>
          </td>
          <td>
            <input class="input" matInput>
          </td>
          <td>
            <label>媒體選項:</label>
          </td>
          <td>
            <input class="input" matInput>
          </td>
          <td>
            <label>日期區間:</label>
          </td>
          <td>
            <input class="input" matInput>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions style="margin-top: 10px;">
      <button class="addBtn" mat-raised-button color="primary">
        <mat-icon class="material-symbols-outlined">
          search
        </mat-icon>
        查詢
      </button>
      <button class="addBtn" mat-raised-button style="margin-bottom: 5px;" color="primary" (click)="addExmBtn()">
        <mat-icon class="material-symbols-outlined">
          assignment_add
        </mat-icon>
        新增
      </button>
    </mat-card-actions>
  </mat-card>

  <div class="tableList" id="tableList" style="width: 100%;">
    <table mat-table [dataSource]="exportSampleData" matSort style="background-color: #EAEEE5;margin-top: 20px;">
      <!--帳戶活動名稱 -->
      <ng-container matColumnDef="client_subname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="titleCss">帳戶活動名稱</div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.client_subname}} </td>
      </ng-container>
      <!--報表範本名稱 -->
      <ng-container matColumnDef="report_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="titleCss">報表範本名稱</div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.report_name}} </td>
      </ng-container>
      <!--目標廣告 -->
      <ng-container matColumnDef="report_goalads">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="titleCss">目標廣告</div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.report_goalads}} </td>
      </ng-container>
      <!--煤鐵選項 -->
      <ng-container matColumnDef="report_media">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="titleCss">媒體選項</div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.report_media}} </td>
      </ng-container>
      <!--修改時間 -->
      <ng-container matColumnDef="edit_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="titleCss">時間</div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.edit_date}} </td>
      </ng-container>
      <!--功能 -->
      <ng-container matColumnDef="func">
        <th mat-header-cell *matHeaderCellDef>
          <div style="display: flex;justify-content: center;" class="titleCss">功能</div>
        </th>
        <td mat-cell *matCellDef="let row">
          <div style="display: flex;justify-content: center;">
            <div><button mat-button (click)="addExmBtn()">
                <span class="material-icons">
                  edit
                </span>
              </button></div>
            <div><button mat-button color="warn">
                <span class="material-icons">
                  delete
                </span>
              </button></div>
            <div><button mat-button (click)="exportBtn()">
                <span class="material-icons">
                  visibility
                </span>
              </button></div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="width: 100%;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="dataRow"></tr>
    </table>
    <mat-paginator class="pageFooter" [length]="totalCount" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</div>
