.layout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEEE5;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 60%;
  min-width: 872px;
  height: 60%;
  min-height: 512px;
  background-color: #ffffff;
  display: flex;
}

.logo {
  width: 70%;
  min-width: 512px;
  height: 100%;
  background-image: url("../../assets/icon/LogoB512.png");
  background-repeat: no-repeat;
  background-position: center
}

.inputArea {
  width: 30%;
  min-width: 360px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.lable {
  font-size: 20px;
  font-weight: bold;
}

.loginArea {
  width: 30%;
  min-width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttonArea {
  width: 90%;
  font-size: 1.2em;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.googelIcon {
  width: 100px;
  height: 100px;
  background-image: url("../../assets/icon/google100.png");
  background-repeat: no-repeat;
}

.fbIcon {
  width: 100px;
  height: 100px;
  background-image: url("../../assets/icon/fb100.png");
  background-repeat: no-repeat;
}

.title {
  font-weight: bold;
  line-height: 1.43;
  font-size: 48px;
}

.iconText {
  line-height: 1.43;
  font-size: 32px;
}

.iconArea {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.addBtnRes {
  width: 100%;
  height: 2.8em;
  border-radius: 8px;
  line-height: 1.5em;
  border: 2px #000000 solid;
  color: #f0f0f0 !important;
  background-color: #3E7E55 !important;
  font-family: 'Palanquin Dark', Arial, Helvetica, sans-serif,"Noto Sans TC";
  font-weight: bold;
  line-height: 1.4em;
  letter-spacing:10px;
  -webkit-text-size-adjust:100%;
}
.addBtnLogin{
  width: 100%;
  height: 2.8em;
  border-radius: 8px;
  border: 2px #000000 solid;
  color: #808080 !important;
  background-color: #EAEEE5 !important;
  font-family: 'Palanquin Dark', Arial, Helvetica, sans-serif,"Noto Sans TC";
  font-weight: bold;
  line-height: 1.4em;
  letter-spacing:10px;
  -webkit-text-size-adjust:100%;
}
