<div class="layout">
  <div class="container">
    <div class="logo"></div>
    <div class="loginArea">
      <div class="title">登入系統</div>
      <div class="buttonArea" (click)="oidcLogin()">
        <div class="googelIcon"></div>
        <div class="iconText">Google</div>
      </div>
      <div class="buttonArea" (click)="show()">
        <div class="fbIcon"></div>
        <div class="iconText">FaceBook</div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
<router-outlet></router-outlet>


