<p-toast position="bottom-right"></p-toast>
<app-loading></app-loading>
<div class="layout">
  <div class="container">
    <div class="logo"></div>
    <div class="loginArea">
      <div class="title">I數據登入系統</div>
      <form [formGroup]="form">
        <div class="inputArea">
          <div class="lable">帳號:</div>
          <div class="input">
            <mat-form-field appearance="outline">
              <input matInput placeholder="請輸入" formControlName="acc" />
              <mat-error>請填寫正確格式</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="inputArea">
          <div class="lable">密碼:</div>
          <div class="input">
            <mat-form-field appearance="outline">             
              <div style="display: flex;justify-content: space-between;">
                <div>                 
                  <input matInput [type]="isShowChkPws ? 'text':'password'" placeholder="請輸入" formControlName="pwd" />
                </div>
                <div *ngIf="isShowChkPws">
                  <mat-icon (click)="isShowPwsClick()">visibility</mat-icon>
                </div>
                <div *ngIf="!isShowChkPws">
                  <mat-icon (click)="isShowPwsClick()">visibility_off</mat-icon>
                </div>
              </div>
              <mat-error>請填寫正確格式</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
      <div class="buttonArea">
        <button class="addBtnRes" mat-raised-button (click)="onRegisterClick()">註冊</button>
        <div style="height: 20px;"></div>
        <button class="addBtnLogin" mat-raised-button  (click)="onLogin()">登入</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
