<div class="contentLayout">
  <mat-card style="background-color: #EAEEE5;font-size: 18px;">
    <mat-card-header>
      <mat-card-title class="topTitle">範本管理</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <div class="divTr">
        <div class="divTd" style="min-width: 127px;">
          <div class="divLable">帳戶活動名稱:</div>
          <div>
            <mat-form-field appearance="outline" class="inputOut">
              <input matInput placeholder="請輸入" />
            </mat-form-field>
          </div>
        </div>
        <div class="divTd2" style="min-width: 127px;">
          <div class="divLable">報表範本名稱:</div>
          <div>
            <mat-form-field appearance="outline" class="inputOut">
              <input matInput placeholder="請輸入" />
            </mat-form-field>
          </div>
        </div>
        <div class="divTd2">
          <div class="divLable">目標廣告:</div>
          <div>
            <mat-form-field appearance="outline" class="inputOut">
              <input matInput placeholder="請輸入" />
            </mat-form-field>
          </div>
        </div>
        <div class="divTd2">
          <div class="divLable">媒體選項:</div>
          <div>
            <mat-form-field appearance="outline" class="inputOut">
              <input matInput placeholder="請輸入" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div style="display: flex;width: 100%;">
        <div class="divLable" style="width: 127px;">日期區間:</div>
        <div>
          <mat-form-field class="timeInputOut">
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="起">
              <input matEndDate placeholder="迄">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions style="margin-top: 10px;">
      <button class="addBtn" mat-raised-button color="accent" style="font-size: 18px;">
        <mat-icon>search</mat-icon>
        查詢
      </button>
      <button class="addBtn" mat-raised-button style="margin-bottom: 5px;font-size: 18px;" color="accent"
        (click)="addExmBtn()">
        <mat-icon>assignment_add</mat-icon>
        新增
      </button>
    </mat-card-actions>
  </mat-card>
  <br>
  <p-table class="tableList" id="tableList" [value]="Data" [paginator]="true" [rows]="5"
    [showCurrentPageReport]="true" currentPageReportTemplate="{first} - {last} / {totalRecords}"
    [rowsPerPageOptions]="[5, 10, 20]" (sortFunction)="sortChange($event)" [customSort]="true" [scrollable]="true"
    scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}" class="table" color="warn">
    <ng-template pTemplate="header">
      <tr style="width: 100%;">
        <th [pSortableColumn]="'client_subname'">
          帳戶活動名稱 <p-sortIcon [field]="'client_subname'"></p-sortIcon>
        </th>
        <th pSortableColumn="report_name">
          報表範本名稱<p-sortIcon field="report_name"></p-sortIcon>
        </th>
        <th pSortableColumn="report_goalads">
          目標廣告<p-sortIcon field="report_goalads"></p-sortIcon>
        </th>
        <th pSortableColumn="report_media">
          媒體選項<p-sortIcon field="report_media"></p-sortIcon>
        </th>
        <th pSortableColumn="edit_date">
          時間<p-sortIcon field="edit_date"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-ri="rowIndex">
      <tr>
        <td>{{ item.client_subname }}</td>
        <td>{{ item.report_name }}</td>
        <td>{{item.report_goalads}}</td>
        <td>{{item.report_media}}</td>
        <td>{{ item.edit_date }}</td>
        <td>
          <div style="display: flex;">
            <div>
              <button mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
