table {
  width: 100%;
  margin-top: 10px;
}
.mat-cell.mat-column-accActName {
  font-weight: bold;
}

.mat-header-cell.mat-column-func {
  text-align: center;
}

.mat-header-row {
  background-color: #AADCB6;
}
.topTitle {
  font-weight: bold;
  font-size: 36px;
  float: left;
}
.divTr{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.divTd{
  display: flex;
  padding-left: 20px;
}
.divLable{
  min-width: 128px;
  padding-top: 7px;
}
.timeInputOut{
  min-width: 356px;
}
.addBtn {
  width: 155px;
  height: 2.3em;
  margin-left: 10px;
  border-radius: 15px;
  font-size: 18px;
  color: #676767;
  margin-bottom: 5px;
}

.testBtn {
  background-color: #EAEEE5;
}

.isTestBtn {
  background-color: #676767;
}

.tableList {
  min-height: 50%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
/* RWD設定大小 */
/* 1680以下畫面原長度/1.14 */
@media screen and (max-width: 1680px) {
  .topTitle {
    font-size: calc(36px / 1.4);
  }
  .addBtn {
    width: calc(155px / 1.14);
    height: calc(2.3em / 1.14);
    font-size: calc(18px / 1.14);
  }
  .divTd {    
    padding-left: 12px;
  }
  .divLable {
    font-size: 0.9em;
  }
}
/* 1366以下畫面原長度/1.4 */
@media screen and (max-width: 1366px) {
  .addBtn {
    width: calc(155px / 1.4);
    height: calc(2.3em / 1.4);
    font-size: 0.88em;
  }
  .divTd {    
    flex-direction: column;    
  }
  .divLable{
    font-size: 0.88em;
    padding-top: 0px;
    width: 127px;        
  }  
}

/* 1100以下畫面原長度/1.75 */
@media screen and (max-width: 1100px) {
  .divTd {    
    flex-direction: row;
    padding-left: 0px;
  }
}

/* 980以下畫面原長度/2 */
@media screen and (max-width: 980px) {
  
}
