<app-loading></app-loading>
<p-toast position="bottom-right"></p-toast>
<div style="display: flex;width: 100%;height: 100%;flex-direction: column;">
  <div class="header">
    <label class="modal-header_Ttitle_label" *ngIf="formType == 'add' ">新增範本</label>
    <label class="modal-header_Ttitle_label" *ngIf="formType == 'edit' ">編輯範本:{{formEditTitle}}</label>
    <div class="CloseBtn" (click)="onCancel()">
      <ng-container>
        <mat-icon>clear</mat-icon>
      </ng-container>
    </div>
  </div>

  <div class="Windows">
    <div class="WindwsDiv">
      <div class="modal-body" style="font-size: 18px;">
        <div style="margin:0px auto;">
          <form [formGroup]="myForm">
            <table class="InputTable_S">
              <tr>
                <td>
                  <label style="font-size: 16px;width: 130px;">媒體選項:</label>
                  <mat-radio-group style="margin-left: 10px;" color="primary">
                    <mat-radio-button (click)="changeFormType(mediaG)" [value]="mediaG" checked="true">Google</mat-radio-button>
                    <mat-radio-button (click)="changeFormType(mediaM)" style="margin-left: 20px;" [value]="mediaM">Meta
                    </mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>
              <tr *ngIf="mediaType == mediaG|| mediaType == mediaM">
                <td>
                  <div style="display: flex;">
                    <div class="td_1">
                      <label class="tdMarginTop">客戶名稱:</label>
                      <mat-form-field class="tdMarginLeft">
                        <mat-select name="AccItem" formControlName="AccItem" (selectionChange)="changeAcc($event.value)"
                          placeholder="請選擇">
                          <mat-option [value]="d" *ngFor="let d of AccItemList">
                            {{d.clientName}}
                          </mat-option>
                        </mat-select>
                        <mat-error>此處為必填</mat-error>
                      </mat-form-field>

                    </div>
                    <div class="td_1" style="padding-left: 15px;">
                      <label class="tdMarginTop" style="width: 137px;">子帳戶活動名稱:</label>
                      <mat-form-field class="tdMarginLeft">
                        <mat-select name="ChildAccItem" formControlName="ChildMccItem" placeholder="請選擇"
                          (selectionChange)="changeMcc($event.value)">
                          <mat-option [value]="d" *ngFor="let d of ChildMccItemList">
                            {{d.subName}}
                          </mat-option>
                        </mat-select>
                        <mat-error>此處為必填</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="td_1" style="padding-left: 15px;">
                      <label class="tdMarginTop">目標廣告:</label>
                      <mat-form-field class="tdMarginLeft" style="width: 166px;">
                        <mat-select name="targetMedia" formControlName="targetMedia" style="color: black;"
                          placeholder="請輸入">
                          <mat-option [value]="d" *ngFor="let d of reportGoalAdsList">
                            {{d.goalName}}
                          </mat-option>
                        </mat-select>
                        <mat-error>此處為必填</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </td>
                <td colspan="5"></td>
                <td></td>
              </tr>
              <tr *ngIf="mediaType == mediaM">
                <td>
                  <label>行銷活動(帳戶名稱):</label>
                </td>
              </tr>
              <tr *ngIf="mediaType == mediaM">
                <td>
                  <label>廣告組合:</label>
                </td>
              </tr>
              <tr *ngIf="mediaType == mediaM">
                <td>
                  <label>廣告素材:</label>
                </td>
              </tr>
              <tr *ngIf="mediaType == mediaM">
                <td>
                  <label>媒體素材:</label>
                </td>
              </tr>
              <tr *ngIf="mediaType == mediaG|| mediaType == mediaM">
                <td>
                  <div class="td_1" style="width: 85vw;">
                    <label class="tdMarginTop">報表內容:</label>
                    <mat-form-field class="tdMarginLeft" style="width: 90%;">
                      <mat-select name="targetMedia" formControlName="repContent" multiple placeholder="請選擇">
                        <mat-option [value]="d" *ngFor="let d of repContentList"
                          (onSelectionChange)="onChangeDefauRepCon($event,d)">
                          {{d.contentName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </td>
              </tr>
              <tr *ngIf="mediaType == mediaG|| mediaType == mediaM">
                <td>
                  <div style="display: flex;align-items: baseline;">
                    <label class="tdMarginTop">範本名稱:</label>
                    <mat-form-field class="tdMarginLeft">
                      <input matInput name="repExmName" formControlName="repExmName" placeholder="請輸入">
                      <mat-error>此處為必填</mat-error>
                    </mat-form-field>
                  </div>
                </td>
              </tr>
              <tr *ngIf="mediaType == mediaG|| mediaType == mediaM">
                <td>
                  <ng-container *ngFor="let dArr of columnArray">
                    <div style="display: flex;padding-top: 5px;" *ngIf="dArr.conStatus">
                      <div style="width: 130px;">{{dArr.conName}}:</div>
                      <div style="margin-left: 10px;margin-bottom: 3%;">
                        <mat-chip-set class="example-chip" cdkDropList cdkDropListOrientation="horizontal"
                          (cdkDropListDropped)="drop($event,dArr)">
                          <ng-container *ngFor="let d of dArr.TrueList">
                            <mat-chip class="example-box" cdkDrag *ngIf="d.colStatus">
                              {{d.colName}}
                              <button matChipRemove (click)="onRemoveCol(dArr,d)">
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </ng-container>
                        </mat-chip-set>
                      </div>
                      <div (click)="setColClick(dArr)" style="padding-left: 10px;padding-top: 10px;cursor: pointer;">
                        <mat-icon>
                          add_circle
                        </mat-icon>
                      </div>
                    </div>

                  </ng-container>
                </td>
              </tr>

            </table>
          </form>
        </div>
      </div>
      <div class="footer">
        <button *ngIf="formType == 'add' " class="Btn" (click)="onOk('add')">
          新增
        </button>
        <button *ngIf="formType == 'edit' " class="Btn" (click)="onOk('edit')">
          確定
        </button>
        <div style="width: 50px;"></div>
        <button class="Btn" (click)="onCancel()">
          取消
        </button>
      </div>
    </div>
  </div>
</div>
