.dialog-header{
  display: flex;
  height: 50px;
  border-bottom: 1px solid #7ABD87 !important;
  color: #7ABD87;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: baseline;
}
.dialog-header-title{
  font-size: 26px;
}
.dialog-header-btn{
  width: auto;
  height: auto;
  color: #7ABD87;
}
.dialog-header-btn:hover{
  color: rgba(106, 201, 62, 0.3);
  cursor: pointer;
}

.dialog-body{
  width: 100%;
}
.dialog-body-content{
  width: 100%;
  height: auto;
  overflow: auto;
  display: flex;
  align-items: center;
}
.dialog-msg{
  text-align: left;
  word-wrap: break-word;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.45;
  letter-spacing: 2px;
  color: #000000;
}

.dialog-footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 4px;
  text-align: center;
  border-top: 2px solid #7ABD87;
  height: 50px;
}
