.header {
  width: 100%;
  display: flex;
  height: 63px;
  border-bottom: 1px solid #AADCB6 !important;
  color: #AADCB6;
  padding: 14px;
  margin-bottom: 10px;
}

.Windows {
  width: 100%;
  height: auto;
  padding-top: 4px;
}

.WindwsDiv {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.modal-header {
  border-bottom: 1px solid #AADCB6 !important;
  color: #AADCB6;
  width: 100%;
  line-height: 43px;
}

.modal-header_Ttitle_label {
  float: left;
  font-size: 20px;
}
.Btn {
  width: 64px;
  height: 33px;
  border-radius: 7px;
  line-height: 29px;
  font-size: 15px;
  margin-top: 5px;
  background-color: #AADCB6;
  border: 2px #808080 solid;
}

.Btn:hover {
  background-color: rgba(106, 201, 62, 0.3);
}

.CloseBtn {
  width: auto;
  height: auto;
  color: #AADCB6;
  float: right;
  margin-left: auto;
}

.CloseBtn:hover {
  color: rgba(106, 201, 62, 0.3);
}
.footer {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  text-align: center;
  border-top: 2px solid #AADCB6;
  margin: 0px auto;
}
.topTitle {
  font-size: 24px;
  letter-spacing: 1.2px;
  font-weight: bold;
}

.addBtn {
  width: 4.6em;
  height: 2.3em;
  margin-left: 10px;
  border-radius: 20px;
  font-size: 0.5em;
  color: #676767;
  margin-bottom: 5px;
}

/**table 內容*/
.table-container {
  border-radius: 10px;
  border: 2px solid #808080;
  box-shadow: 0 5px 5px -3px #0003, 0 3px 14px 2px #0000001f;
  max-height: 1200px;
}

.table_center90 {
  margin-top: 5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*表格_框*/
.table_title100 {
  /*灰框*/
  background-color: #CDCDCD;
  border: 3px solid #000000;
  width: 100%;
}

.tr_th_1 {
  background-color: #7ABD87;
  height: 35px;
  font-family: 'Palanquin Dark', Arial, Helvetica, sans-serif, "Noto Sans TC";
  line-height: 1.2em;
  letter-spacing: 2px;
  font-size: 18px;
}
.th_1{
  border-bottom: 3px #000000 solid;
}
.th_2{
  border-top: 3px #000000 solid;
}

.tr_td_2 {
  /*白*/
  background-color: #FFFFFF;
  height: 25px;
  font-size: 12px;
}
.td_1{
  border: solid 1px #808080;
  height: 35px;
  font-family: 'Palanquin Dark', Arial, Helvetica, sans-serif, "Noto Sans TC";
  line-height: 1.2em;
  letter-spacing: 2px;
  font-size: 14px;
}
.str_center {
  text-align: center;
}
.IconBg{
  border-radius: 15px;
  align-items: center;
  height: 37px;
  width: 175px;
  background-color: #EAEEE5;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.ExcelIcon{
  background-image: url("../../../../assets/icon/ExcelIcon.png");
  background-repeat: no-repeat;
  background-position: left top, right bottom, center center;
  background-size: 28.7px 28.7px;
  border: 0;
  width: 28.7px;
  height: 28.7px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.PdfIcon{
  background-image: url("../../../../assets/icon/PDFIcon3.png");
  background-repeat: no-repeat;
  background-position: left top, right bottom, center center;
  background-size: 30.7px 30.7px;
  border: 0;
  width: 30.7px;
  height: 30.7px;
  cursor: pointer;
  margin-left: 10px;
}
.deleteIcon{
  background-image: url("../../../../assets/icon/deleteIcon.png");
  background-repeat: no-repeat;
  background-position: left top, right bottom, center center;
  background-size: 30.7px 30.7px;
  border: 0;
  width: 30.7px;
  height: 30.7px;
  cursor: pointer;
  margin-left: 10px;
}
.addExportBtn{
  cursor: pointer;
  margin-left: 10px;
}
