<app-loading></app-loading>
<p-toast position="bottom-right"></p-toast>
<div class="header">
  <label class="modal-header_Ttitle_label" >匯出範本:{{subClientName}}</label>
  <div class="CloseBtn" (click)="onCancel()">
    <ng-container>
      <mat-icon>clear</mat-icon>
    </ng-container>
  </div>
</div>
<div class="Windows">
  <div class="WindwsDiv">
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper (selectionChange)="selectionChange($event)">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>請選擇要匯出的報表</ng-template>
          <table class='table' style="width: 100%;align-items: center;border-collapse: collapse;border-color: #111111;">
            <tr class='tr_th_1 str_center'>
              <th class="th_1" style="width: 5%;border-right: 3px #000000 solid;">
                <mat-checkbox color="primary"
                  (change)="onCheckAll($event,firstFormGroup.controls.dataList)"></mat-checkbox>
              </th>
              <th class="th_1" style="width: 25%;">報表內容</th>
              <th class="th_1">時間區間</th>
            </tr>
            <ng-container formArrayName="dataList">
              <ng-container *ngFor="let d of dataList.controls; let index = index">
                <ng-container [formGroupName]="index">
                  <tr class="tr_td_2 str_center">
                    <td class="td_2">
                      <mat-checkbox color="primary" formControlName="sta"
                        (ngModelChange)="onCheckExport($event,d)"></mat-checkbox>
                    </td>
                    <td class="td_2">{{d.value.reportName}}</td>
                    <td class="td_2">
                      <mat-form-field class="timeInputOut" *ngIf="d.value.sta == true">
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate placeholder="起" formControlName="SD">
                          <input matEndDate placeholder="迄" formControlName="ED">
                        </mat-date-range-input>
                        <mat-error>請填寫時間</mat-error>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
          </table>
          <div style="float: left;padding-top: 10px;">
            <button mat-button matStepperNext class="nextBtn">下一步</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form>
          <ng-template matStepLabel>報表產生</ng-template>
          <div style="margin:0px auto;">
            <form #tableList id="tableList">
              <ng-container *ngFor="let tableList of exportDataList">
                <div class="table_center90">
                  <!-- <div style="display: flex;justify-content: space-between;">
                    <div style="display: flex;" *ngIf="isIcon == true">
                      <div class="ExcelIcon"></div>
                      <div class="PdfIcon"></div>
                      <div class="deleteIcon"></div>
                    </div>
                  </div> -->
                  <table id="{{tableList.tableId}}" class='table'
                    style="width: 100%;align-items: center;border-collapse: collapse;">
                    <tr class='tr_th_title str_center'>
                      <td [attr.colspan]="tableList.colNameList.length" style="border: 3px #000000 solid;">
                        {{tableList.reportName}}
                      </td>
                    </tr>
                    <tr class='tr_th_1 str_center'>
                      <ng-container *ngFor="let thD of tableList.colNameList;index as i;">
                        <th [width]="thD.width" [ngClass]="{ th_R : i == tableList.colNameList.length-1,th_L : i==0}">
                          {{thD.colValue}}</th>
                      </ng-container>
                    </tr>
                    <ng-container *ngFor="let trList of tableList.colValueList;index as index;">
                      <tr class="tr_td_2 str_center" [ngClass]="{ trCss2 : index %2 == 0,trCss : index%2 !== 0}">
                        <ng-container *ngFor="let td of trList.tdList;index as i;">
                          <td class="td_1" [ngClass]="{ th_R : i == trList.tdList.length-1,th_L : i==0}">{{td.colValue}}
                          </td>
                        </ng-container>
                      </tr>
                    </ng-container>
                    <tr class='tr_th_1 str_center'>
                      <ng-container *ngFor="let footD of tableList.totalList;index as i;">
                        <th class="th_2" [ngClass]="{ th_R : i == tableList.totalList.length-1,th_L : i==0}">
                          {{footD.colValue}}</th>
                      </ng-container>
                    </tr>
                  </table>
                </div>
              </ng-container>
            </form>
          </div>
        </form>
        <div class="step2Area">
          <div>
            <button mat-button matStepperPrevious class="nextBtn">上一步</button>
          </div>
          <div style="height: 100%;">
            <button mat-button [matMenuTriggerFor]="menu" class="downBtn">
              <mat-icon>download</mat-icon>
              下載
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="exportExcel()">
                <mat-icon>save</mat-icon>
                EXCEL
              </button>
              <button mat-menu-item (click)="exportPdfNG()">
                <mat-icon>picture_as_pdf</mat-icon>
                PDF
              </button>
            </mat-menu>
          </div>

        </div>
      </mat-step>
    </mat-stepper>
    <!--
    <div class="footer">
      <button class="Btn" (click)="onCancel()">
        取消
      </button>
    </div> -->
  </div>
</div>
