<div class="header">
  <label class="modal-headerTtitlelabel">{{contentName}}設定欄位</label>
  <div class="CloseBtn" (click)="onCancel()">
    <ng-container>
      <mat-icon>clear</mat-icon>
    </ng-container>
  </div>
</div>
<div class="Windows">
  <div class="WindwsDiv">
    <div style="display: flex;justify-content: space-around;">
      <div class="PickListArea">
        <div class="headerTtitlelabel">
          已選擇欄位
          <mat-checkbox [checked]="trueChkBox" [(ngModel)]="trueChkBox"  (change)="trueChkAll($event)">全選</mat-checkbox>
        </div>
        <div class="TruePickAreaDiv">
          <mat-chip-set cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
            <ng-container *ngFor="let d of tList">
              <mat-chip cdkDrag (click)="isClick(d)" [ngClass]="{clickChips: d.colStatus}">
                {{d.colName}}
              </mat-chip>
            </ng-container>
          </mat-chip-set>
        </div>
      </div>
      <div class="ArrowArea">
        <div (click)="arrowLeft()" style="padding-bottom: 10px;">
          <button style="color: #EAEEE5;" mat-mini-fab color="primary">
            <mat-icon>
              <span>
                chevron_left
              </span>
            </mat-icon>
          </button>
        </div>
        <div (click)="arrowRight()">
          <button style="color: #EAEEE5;" mat-mini-fab color="primary">
            <mat-icon>
              <span>
                chevron_right
              </span>
            </mat-icon>
          </button>
        </div>
      </div>
      <div class="PickListArea">
        <div class="headerTtitlelabel">
          未選擇欄位
          <mat-checkbox [checked]="falseChkBox" [(ngModel)]="falseChkBox" (change)="falseChkAll($event)">全選</mat-checkbox>
        </div>
        <div class="FalsePickAreaDiv">
          <mat-chip-set cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
            <ng-container *ngFor="let d of fList">
              <mat-chip cdkDrag (click)="isClick(d)" [ngClass]="{clickChips: d.colStatus}">
                {{d.colName}}
              </mat-chip>
            </ng-container>
          </mat-chip-set>
        </div>
      </div>
    </div>
    <div class="footer">
      <button class="Btn" (click)="onOk()">
        確認
      </button>
      <div style="width: 50px;"></div>
      <button class="Btn" (click)="onCancel()">
        取消
      </button>
    </div>
  </div>
</div>
